.square{
  height: 200px;
  width: 200px;
  border: 2px solid black;
  font-size: 10rem;
  text-align: center;
}
.gameboard{
  display: flex;
  width: 620px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.togglebox{
  height: 50px;
  width: 100px;
  border: 1px solid black;
  align-items: top;
}

.togglebox1{
  height: 50px;
  width: 100px;
  border: 1px solid black;
  align-items: top;
}